<div class="d-flex">
    <div class="columna1">

        <form>
            <select>
                <option>Seleccione una opción</option>
                <option>Campeonato 1</option>
                <option>Campeonato 2</option>
            </select>
            <button class="search border border-0 mx-1" type="submit"> <i class="fa-sharp fa-solid fa-rotate-right"></i>
            </button>
        </form>

        <h6 class="text-center fw-bold">Equipos Participantes</h6>

        <table>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Logo</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="img/LogoUtmach.png" alt=""></td>
                    <td>Ponchadores FC</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="img/LogoUtmach.png" alt=""></td>
                    <td>Ponchadores FC</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="img/LogoUtmach.png" alt=""></td>
                    <td>Ponchadores FC</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="columna2">

        <button class="generar border border-0" type="submit"><i class="fa-solid fa-plus"></i> Generar Fase de
            Grupos</button>

        <div class="grupos">

            <div class="fase  justify-content-evenly">
                <h6 class="text-center fw-bold">Grupo 1</h6>

                <table>
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="fase">
                <h6 class="text-center fw-bold">Grupo 2</h6>

                <table>
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fase">
                <h6 class="text-center fw-bold">Grupo 3</h6>

                <table>
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fase">
                <h6 class="text-center fw-bold">Grupo 4</h6>

                <table>
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="encuentros">

            <button class="generar2 mb-2 border border-0" type="submit"><i class="fa-solid fa-plus"></i> Generar
                Encuentros</button>

            <div class="partidos">
                <table>
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Local</th>
                            <th>vs</th>
                            <th>Visitante</th>
                            <th>Logo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                            <td>Ponchadores FC</td>
                            <td>vs</td>
                            <td>Ponchadores FC</td>
                            <td><img src="img/LogoUtmach.png" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>