
<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>

    <div class="links">
        <a href="#home">Inicio</a>
        <a href="#about">Tabla de Posiciones</a>
        <a href="#menu">Equipos Participantes</a>
        <a href="#products">Resultados</a>
        <a href="#blogs">Encuentros</a>
    </div>

    <div class="credit">Creado por <span>5ta Promoción</span> | Derechos Reservados</div>

</section>
