<!-- <div *ngIf="isLoading === true">
    <img src="./assets/img/cargando.gif" alt="Cargando">
</div> -->
<div class="header-wrapper">
    <div class="header-title">
        <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
        <h2>Equipos</h2>
    </div>
    <div class="user-info">
        <img src="./assets/img/Logo_TIC_IS.png" alt="">
    </div>
</div>
<div class="tabular-wrapper">
    <div class="combo-box">
        <form>
            <select class="form-select" [(ngModel)]="opcionSeleccionadaCamp" [ngModelOptions]="{standalone: true}"
                (change)="onSelectCampeonato($event)">
                <option value="">Seleccione un campeonato para filtrar los equipos</option>
                <option class="p-3" *ngFor="let opcion of CampeonatoArray" [value]="opcion.pk_idcamp">{{
                    opcion.name_camp }}
                </option>
            </select>
        </form>
    </div>
    <div class="table-container">
        <button class="ins" (click)="openModalINS()" type="submit"><i class="fa-solid fa-plus"></i> Crear
            Equipo</button>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Logo</th>
                    <th>Semestre</th>
                    <th>Representante</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let EquipoItem of EquiposFiltrados">
                    <td>{{EquipoItem.nom_equ}}</td>
                    <!-- <td><img src="./assets/img/LogoUtmach.png" alt=""></td> -->
                    <td *ngIf="EquipoItem.logo"><img [src]="apiUrlImg  + EquipoItem.logo" alt=""></td>
                    <td *ngIf="!EquipoItem.logo"><img src="./assets/img/Logo_TIC_IS.png" alt=""></td>
                    <td>{{EquipoItem.semestre}}</td>
                    <td>{{EquipoItem.representante}}</td>
                    <td class="d-flex justify-content-evenly">
                        <button class="jugadores" type="submit" (click)="setView(EquipoItem)"><i
                                class="fa-solid fa-circle-exclamation"></i>
                            Ver</button>
                        <button class="edit" type="submit" (click)="setUpdate(EquipoItem)"><i
                                class="fa-solid fa-pen-to-square"></i>
                            Edit</button>
                        <button class="delete" type="submit" (click)="setDelete(EquipoItem)"><i
                                class="fa-solid fa-trash"></i> Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<!-- INSERT -->
<section class="modal" [class.modal--show]="showModal">
    <div class="modal-container">
        <h2 class="modal-title">Nuevo Equipo</h2>
        <form class="form-modal" [formGroup]="equipoForm" (ngSubmit)="onSaveForm()" #miFormulario>

            <div class="input-box">
                <input type="text" formControlName="nom_equ" name="nom_equ" id="nom_equ" required>
                <label>Nombre</label>
            </div>
            <div class="alert-danger" *ngIf="nom_equ?.invalid && (nom_equ?.dirty || nom_equ?.touched)">
                <div class="container-error-message" *ngIf="nom_equ && nom_equ.errors && nom_equ.errors['required']">
                    Nombre es requerido.
                </div>
                <div class="container-error-message" *ngIf="nom_equ && nom_equ.errors && nom_equ.errors['minlength']">
                    Minimo 4 caracteres.
                </div>
            </div>

            <div class="input-box">
                <input class="form-control" type="file" accept="image/*" id="archivo" name="archivo"
                    (change)="onFileSelected($event)">
                <label>Logo</label>
            </div>

            <div class="input-box">
                <select class="form-select" formControlName="semestre" name="semestre" id="semestre" required>
                    <option value="">Seleccione un Semestre</option>
                    <option value="primero">Primero</option>
                    <option value="segundo">Segundo</option>
                    <option value="tercero">Tercero</option>
                    <option value="cuarto">Cuarto</option>
                    <option value="quinto">Quinto</option>
                    <option value="sexto">Sexto</option>
                    <option value="septimo">Septimo</option>
                    <option value="octavo">Octavo</option>
                    <option value="noveno">Noveno</option>
                    <option value="decimo">Decimo</option>
                </select>
            </div>
            <div class="alert-danger"
                *ngIf="equipoForm.controls['semestre'].invalid && (equipoForm.controls['semestre'].dirty || equipoForm.controls['semestre'].touched)">
                <div class="container-error-message" *ngIf="semestre && semestre.errors && semestre.errors['required']">
                    Seleccione un semestre válido.
                </div>
                <div class="container-error-message"
                    *ngIf="semestre && semestre.errors && semestre.errors['semestreInvalido']">
                    Seleccione un semestre válido.
                </div>
            </div>

            <div class="input-box">
                <input type="text" formControlName="representante" name="representante" id="representante" required>
                <label>Representante</label>
            </div>
            <div class="alert-danger"
                *ngIf="representante?.invalid && (representante?.dirty || representante?.touched)">
                <div class="container-error-message"
                    *ngIf="representante && representante.errors && representante.errors['required']">
                    Representante es requerido.
                </div>
                <div class="container-error-message"
                    *ngIf="representante && representante.errors && representante.errors['minlength']">
                    Minimo 4 caracteres.
                </div>
            </div>

            <div class="input-box">
                <select class="form-select" formControlName="fk_idcamp" name="fk_idcamp" id="fk_idcamp" required>
                    <option value="">Seleccione un Campeonato</option>
                    <option *ngFor="let campeonato of CampeonatoArray" [value]="campeonato.pk_idcamp">{{
                        campeonato.name_camp }}</option>
                </select>
            </div>
            <div class="alert-danger" *ngIf="fk_idcamp?.invalid && (fk_idcamp?.dirty || fk_idcamp?.touched)">
                <div class="container-error-message"
                    *ngIf="fk_idcamp && fk_idcamp.errors && fk_idcamp.errors['required']">
                    Campeonato es requerido.
                </div>
                <div class="container-error-message"
                    *ngIf="semestre && semestre.errors && semestre.errors['campeonatoInvalido']">
                    Seleccione un campeonato válido.
                </div>
            </div>

            <div class="container d-flex justify-content-evenly">
                <button type="submit" (click)="closeModalINS()" class="modal-close mx-2">Cerrar</button>
                <button type="submit" class="modal-save mx-2">Registrar</button>
            </div>
        </form>

    </div>
</section>
<!-- UPDATE -->
<section class="modal" [class.modal--show]="showModalUP">
    <div class="modal-container">
        <h2 class="modal-title">Editar Equipo</h2>
        <form class="form-modal">
            <div class="input-box">
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" name="name" id="name"
                    required>
                <label>Nombre</label>
            </div>
            <div class="input-box">
                <input class="form-control" type="file" accept="image/*" id="archivo" name="archivo"
                    (change)="onFileSelected($event)">
                <label>Logo</label>
            </div>
            <div class="input-box">
                <select class="form-select" [(ngModel)]="semest" [ngModelOptions]="{standalone: true}" name="semest"
                    id="semest" required>
                    <option value="">Seleccione un Semestre</option>
                    <option value="primero">Primero</option>
                    <option value="segundo">Segundo</option>
                    <option value="tercero">Tercero</option>
                    <option value="cuarto">Cuarto</option>
                    <option value="quinto">Quinto</option>
                    <option value="sexto">Sexto</option>
                    <option value="septimo">Septimo</option>
                    <option value="octavo">Octavo</option>
                    <option value="noveno">Noveno</option>
                    <option value="decimo">Decimo</option>
                </select>
            </div>
            <div class="input-box">
                <input class="form-control" [(ngModel)]="repre" [ngModelOptions]="{standalone: true}" name="repre"
                    id="repre" required>
                <label>Representante</label>
            </div>

            <div class="input-box">
                <select class="form-select" [(ngModel)]="idcamp" [ngModelOptions]="{standalone: true}" name="idcamp"
                    id="idcamp" required>
                    <option value="">Seleccione un Campeonato</option>
                    <option *ngFor="let campeonato of CampeonatoArray" [value]="campeonato.pk_idcamp">{{
                        campeonato.name_camp }}</option>
                </select>
            </div>

            <div class="container d-flex justify-content-evenly">
                <button type="submit" (click)="closeModalUP()" class="modal-close mx-2">Cerrar</button>
                <button type="submit" class="modal-save mx-2"
                    (click)="onUpdateForm(equipoData?.pk_idequ)">Registrar</button>
            </div>
        </form>
    </div>
</section>