<div class="header-wrapper">
    <div class="header-title">
        <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
        <h2>Encuentros</h2>
    </div>
    <div class="user-info">
        <img src="./assets/img/Logo_TIC_IS.png" alt="">
    </div>
</div>
<div class="tabular-wrapper">
    <div class="combo-box">
        <form>
            <select class="form-select" [(ngModel)]="opcionSeleccionadaCamp" [ngModelOptions]="{standalone: true}"
                (change)="onSelectCampeonato($event)">
                <option value="">Seleccione un campeonato para filtrar los encuentros</option>
                <option class="p-3" *ngFor="let opcion of CampeonatoArray" [value]="opcion.pk_idcamp">{{
                    opcion.name_camp }}
                </option>
            </select>
        </form>
    </div>
    <div class="table-container" *ngFor="let EncuentroItem of EncuentrosArrayFiltro | keyvalue">
        <div *ngIf="EncuentroItem.key != null">
            <h4 class="text-center">{{EncuentroItem.key === '1' ? "Fase de Grupos" : EncuentroItem.key === '2' ?
                "Octavos de Final" : EncuentroItem.key === '3' ? "Cuartos de Final" : EncuentroItem.key === '4' ?
                "SemiFinal" : "Final"}} </h4>
            <table>
                <thead class="table-light">
                    <tr>
                        <th>Grupo</th>
                        <th>Logo</th>
                        <th>Local</th>
                        <th>Gol L.</th>
                        <th>Vs</th>
                        <th>Gol V.</th>
                        <th>Visitante</th>
                        <th>Logo</th>
                        <th>Fecha</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider table-dark text-light">
                    <tr *ngFor="let Item of EncuentroItem.value">
                        <td>{{Item.numgrupo === 0 ? '' : Item.numgrupo}}</td>

                        <td *ngIf="Item.logo_local"><img [src]="apiUrlImg  + Item.logo_local" alt="Logo Equipo"></td>
                        <td *ngIf="!Item.logo_local"><img src="./assets/img/Logo_TIC_IS.png" alt="Logo Equipo"
                                style="width: 30px; height: 30px;"></td>
                        <td>{{Item.fk_idequlocal}}</td>
                        <td>{{Item.goleslocal}}</td>
                        <td>vs</td>
                        <td>{{Item.golesvisit}}</td>
                        <td>{{Item.fk_idequvisit}}</td>
                        <td *ngIf="Item.logo_visit"><img [src]="apiUrlImg  + Item.logo_visit" alt="Logo Equipo"
                                style="width: 30px; height: 30px;"></td>
                        <td *ngIf="!Item.logo_visit"><img src="./assets/img/Logo_TIC_IS.png" alt="Logo Equipo">
                        </td>
                        <td>{{Item.fecha_hora}}</td>
                        <div *ngIf="Item.estado_encuentro === 'Proximo'">
                            <td><button type="button" class="btn btn-outline-primary"
                                    (click)="openModal('Actualizar', Item)"> <img src="./assets/img/balon-futbol.png"
                                        alt="" width="30" height="30" style="
                                width: 30px;
                                height: 30px;
                            "></button></td>
                        </div>
                        <div *ngIf="Item.estado_encuentro === 'Terminado'">
                            <td><button type="button" class="btn btn-outline-danger"
                                    (click)="openModal('Terminado', Item)"> <img src="./assets/img/balon-futbol-fin.png"
                                        alt="" width="30" height="30" style="
                                width: 30px;
                                height: 30px;
                            "></button></td>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div *ngIf="isCampeon" class="text-center">
    <h4 class="text-center fw-bold">Campeón</h4>
    <img [src]="apiUrlImg + equipoCampeon.logo" alt="Equipo Campeon" width="80" height="80">
    <h6>{{ equipoCampeon.nom_equ  }}</h6>
    <h6>{{ equipoCampeon.representante  }}</h6>
</div>

<!-- Actualizar -->
<section class="modal" [class.modal--show]="showModal">
    <div class="modal-container">
        <h2 class="modal-title">Ingrese los goles</h2>
        <form class="form-modal">

            <div class="d-flex justify-content-evenly">
                <div class="container text-center">
                    <h5 class="text-center">Equipo Local</h5>

                    <img id="equipo-local-img" [src]="imagenLocalSrc" alt="Logo Equipo"
                        style="width: 50px; height: 50px;">
                    <div class="input-box mb-3">
                        <input class="p-2" type="text" [(ngModel)]="name_local" [ngModelOptions]="{standalone: true}"
                            name="name_local" id="name_local" readonly>
                    </div>
                    <div class="input-box">
                        <input type="number" class="form-control" [(ngModel)]="goles_local"
                            [ngModelOptions]="{standalone: true}" name="goles_local" id="goles_local" required>
                        <label># Goles Local</label>
                    </div>
                </div>
                <div class="container text-center">
                    <h5 class="text-center">Equipo Visitante</h5>
                    <img id="equipo-visitante-img" [src]="imagenVisitanteSrc" alt="Logo Equipo"
                        style="width: 50px; height: 50px;">
                    <div class="input-box mb-3">
                        <input class="p-2" type="text" [(ngModel)]="name_visitante"
                            [ngModelOptions]="{standalone: true}" name="name_visitante" id="name_visitante" readonly>
                    </div>
                    <div class="input-box">
                        <input type="number" class="form-control" [(ngModel)]="goles_visitante"
                            [ngModelOptions]="{standalone: true}" name="goles_visitante" id="goles_visitante" required>
                        <label># Goles Visitante</label>
                    </div>
                </div>
            </div>

            <div class="container d-flex justify-content-evenly">
                <button type="submit" (click)="closeModal()" class="modal-close mx-2">Cerrar</button>
                <button type="submit" class="modal-save mx-2" (click)="onUpdateForm()">Registrar</button>
            </div>
        </form>
    </div>
</section>

<!-- Terminado -->
<section class="modal" [class.modal--show]="showModalTerminado">
    <div class="modal-container">
        <h2 class="modal-title">El partido ha terminado</h2>
        <button type="submit" (click)="closeModalTerminado()" class="modal-close mx-2">Cerrar</button>
    </div>
</section>