<div class="body">
    <app-sidebar></app-sidebar>
    <div class="main-content">

        <div class="header-wrapper" *ngIf="selectedOption === 'equipos'">
            <div class="header-title">
                <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
                <h2>Equipos</h2>
            </div>
            <div class="user-info">
                <img src="./assets/img/Logo_TIC_IS.png" alt="">
            </div>
        </div>

        <div class="header-wrapper" *ngIf="selectedOption === 'participantes'">
            <div class="header-title">
                <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
                <h2>Participantes</h2>
            </div>
            <div class="user-info">
                <img src="./assets/img/Logo_TIC_IS.png" alt="">
            </div>
        </div>

        <div class="header-wrapper" *ngIf="selectedOption === 'campeonato'">
            <div class="header-title">
                <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
                <h2>Campeonatos</h2>
            </div>
            <div class="user-info">
                <img src="./assets/img/Logo_TIC_IS.png" alt="">
            </div>
        </div>

        <div class="header-wrapper" *ngIf="selectedOption === 'generarCampeonato'">
            <div class="header-title">
                <span>Universidad Técnica de Machala | Carrera de Tecnologías de la Información</span>
                <h2>Generar Campeonato</h2>
            </div>
            <div class="user-info">
                <img src="./assets/img/Logo_TIC_IS.png" alt="">
            </div>
        </div>

        <div class="tabular-wrapper" *ngIf="selectedOption === 'equipos'">
            <app-admin-equipos></app-admin-equipos>
        </div>

        <div class="tabular-wrapper" *ngIf="selectedOption === 'participantes'">
            <app-admin-participantes></app-admin-participantes>
        </div>

        <div class="tabular-wrapper" *ngIf="selectedOption === 'campeonato'">
            <app-admin-campeonato></app-admin-campeonato>
        </div>

        <div class="tabular-wrapper" *ngIf="selectedOption === 'generarCampeonato'">
            <app-admin-gen-campeonato></app-admin-gen-campeonato>
        </div>
        
    </div>
</div>