
.body {
    display: flex;
}
.main-content {
    flex: 1;
    position: relative;
    background: #ebe9e9;
    width: 90%;
    padding: 1rem;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-title {
    color: rgba(113, 99, 186, 255);
    margin: 5px 0;
}

.header-title h2 {
    margin: 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1;
}

.tabular-wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
}

