<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<div class="sidebar">
    <div class="logo">
        <img src="./assets/img/Logo_TIC_IS.png" alt="">
    </div>
    <ul class="menu">
        <a routerLink="/admin/equipos">
            <li class="">
                <i class="fa-sharp fa-solid fa-shield-halved"></i>
                <span>Equipos</span>
            </li>
        </a>
        <a routerLink="/admin/participantes">
            <li>
                <i class="fa-solid fa-user"></i>
                <span>Participantes</span>
            </li>
        </a>
        <a routerLink="/admin/campeonatos">
            <li>
                <i class="fa-solid fa-notes-medical"></i>
                <span>Campeonato</span>
            </li>
        </a>
        <a routerLink="/admin/generar_campeonato">
            <li>
                <i class="fa-solid fa-circle-user"></i>
                <span>Generar Campeonato</span>
            </li>
        </a>
        <a routerLink="/admin/encuentros">
            <li>
                <i class="fa-solid fa-circle-user"></i>
                <span>Encuentros</span>
            </li>
        </a>
        <a routerLink="/admin/tabla-posiciones">
            <li>
                <i class="fa-solid fa-circle-user"></i>
                <span>Tabla Posiciones</span>
            </li>
        </a>
        <a class="text-danger fw-bold" routerLink="/login"  (click)="logout()">
            <li >
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Logout</span>
            </li>
        </a>
    </ul>
</div>