/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    position: relative;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../../../assets/img/fondo-login.jpg);
    padding: 15px 30px;
    display: flex;
    justify-content: center
}

section{
    align-self: center;
}

.login-box{
    position: relative;
    width: 390px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 0.5% 15%;
}

img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 106px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.input-box2{
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 11px;
    color: white;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}

.input-box2 label{
    position: absolute;
    top: 10%;
    transition: .5s;
    left: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 7px;
}

.checkbox {
    margin-left: 50px;
    appearance: none;
    height: 20px;
    width: 30%;
    background: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .checkbox:after {
    content: attr(data-name);
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #3f3f3f;
    font-weight: bold;
    z-index: 99;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.checkbox:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0px;
    height: 200%;
    width: 200%;
    background: #fff;
    z-index: 0;
    transition: all 0.2s linear;
    transform: scale(0.6) translate(-50%, -50%);
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 57px;
}

.checkbox:hover:before,
.checkbox:focus-visible:before {
    background: #381de4;
    color: #fff;
    top: -4%;
    left: 20%;
}

.checkbox:hover:after,
.checkbox:focus-visible:after {
    color: #fff;
}

.checkbox:checked:before {
    opacity: 0;
    transform: scale(0.9);
}

.checkbox:checked:after {
    color: white;
}

.checkbox:checked {
    background: #381de4;
    box-shadow: 0px 4px 10px -6px black;
}

button{
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

button:hover{
    background: #40CFFF;
    color: #000000;
}

.register-link{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

@media (max-widht: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box{
        width: 290px;
    }
}
/* Validacion */
.alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 11px;
}

.container-error-message {
    padding: 2px;
}