<div class="combo-box">
    <form>
        <select class="border borcer-0">
            <option>Seleccione una opción</option>
            <option>Campeonato 2022</option>
            <option>Campeonato 2023</option>
        </select>
        <button class="search border borcer-0" type="submit"> <i class="fa-solid fa-search"></i> </button>
    </form>
</div>
<div class="table-container">
    <button  class="ins" (click)="openModal()" type="submit"><i class="fa-solid fa-plus"></i> Crear Campeonato</button>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>AñO Lectivo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jornadas Deportivas TI</td>
                <td>2022-2</td>
                <td>Activo</td>
                <td class="d-flex justify-content-evenly">
                    <button class="jugadores" type="submit"><i class="fa-solid fa-circle-exclamation"></i>
                        Ver</button>
                    <button class="edit" type="submit"><i class="fa-solid fa-pen-to-square"></i>
                        Edit</button>
                    <button class="delete" type="submit"><i class="fa-solid fa-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<section class="modal" [class.modal--show]="showModal">
    <div class="modal-container">
        <h2 class="modal-title">Nuevo Campeonato</h2>
        
        <div class="input-box">
            <input type="text" required>
            <label>Nombre</label>
        </div>

        <div class="input-box">
            <input type="text" required>
            <label>Año Lectivo</label>
        </div>

        <div class="input-box">
            <select  class="form-select" required>
                <option selected>Seleccione un Estado</option>
                <option value="activo">Activo</option>
                <option value="finalizado">Finalizado</option>
            </select>
        </div>

        <div class="container d-flex justify-content-evenly">
            <button type="submit"  (click)="closeModal()" class="modal-close mx-2">Cerrar</button>
            <button type="submit" class="modal-save mx-2">Registrar</button> 
        </div>
    </div>
</section>

