<div class="combo-box">
    <form>
        <select class=" border borcer-0">
            <option>Seleccione una opción</option>
            <option>Campeonato 2022</option>
            <option>Campeonato 2023</option>
        </select>
        <button class="search border borcer-0" type="submit"> <i class="fa-solid fa-search"></i> </button>
    </form>
</div>
<div class="table-container">
    <button  class="ins" (click)="openModal()" type="submit"><i class="fa-solid fa-plus"></i> Insertar Participante</button>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Semestre</th>
                <th>Equipo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>0706277712</td>
                <td>Leonardo Sanchez</td>
                <td>15/09/2001</td>
                <td>7mo Semestre</td>
                <td>Ponchadores FC</td>
                <td class="d-flex justify-content-evenly">
                    <button class="jugadores" type="submit"><i class="fa-solid fa-circle-exclamation"></i>
                        Ver</button>
                    <button class="edit" type="submit"><i class="fa-solid fa-pen-to-square"></i>
                        Edit</button>
                    <button class="delete" type="submit"><i class="fa-solid fa-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<section class="modal" [class.modal--show]="showModal">
    <div class="modal-container">
        <h2 class="modal-title">Nuevo Participante</h2>
        
        <div class="input-box">
            <input type="text" required>
            <label>Cedula</label>
        </div>

        <div class="input-box">
            <input type="text" required>
            <label>Nombre</label>
        </div>

        <div class="input-box">
            <h6 class="label-input">Fecha de Nacimiento</h6>
            <input class="form-control" type="date" required>
        </div>

        <div class="input-box">
            <select  class="form-select" required>
                <option selected>Seleccione un Semestre</option>
                <option value="primero">Primero</option>
                <option value="segundo">Segundo</option>
                <option value="tercero">Tercero</option>
                <option value="cuarto">Cuarto</option>
                <option value="quinto">Quinto</option>
                <option value="sexto">Sexto</option>
                <option value="septimo">Septimo</option>
                <option value="octavo">Octavo</option>
                <option value="noveno">Noveno</option>
                <option value="decimo">Decimo</option>
            </select>
        </div>

        <div class="input-box">
            <select  class="form-select" required>
                <option selected>Elija un Equipo</option>
                <option value="primero">BSC</option>
                <option value="segundo">CSM</option>
            </select>
        </div>

        <div class="container d-flex justify-content-evenly">
            <button type="submit"  (click)="closeModal()" class="modal-close mx-2">Cerrar</button>
            <button type="submit" class="modal-save mx-2">Registrar</button> 
        </div>
    </div>
</section>

